{
    "presets": [
      "env",
      "react",
      "es2015"
    ],
    "plugins": [
      "transform-class-properties",
      "transform-object-rest-spread",
      "add-module-exports",
      "inline-react-svg",
      "transform-react-jsx",
      ["transform-replace-object-assign",  { "moduleSpecifier": "lodash.assign" } ]
    ]
  }
  