// variables

// font  css
$label-font:100 12px Verdana, "Verdana CE", Arial, "Arial CE","Lucida Grande CE", lucida, "Helvetica CE", Helvetica;
$label-color:#0187b4;
$font-family:Verdana, "Verdana CE", Arial, "Arial CE","Lucida Grande CE", lucida, "Helvetica CE", Helvetica;

/*change the color of glyphicons / fontawesom */

$fa-color1:#F89406;
$fa-color2:red;
